
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.*.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
###< symfony/framework-bundle ###


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
.codacy/logs/var/cache/
var/log/
var/sessions/
.codacy/logs/
var/cache/

config/secrets/
